<div class="container mt-5">
    <ng-container *ngIf="error">
        <h4>Internal Server Error - refreshing the page will make the exception disappear</h4>
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Note: if you are seeing this then Angular is probaly not responsible</p>
        <p>What to do next?</p>
        <ul>
            <li>Open chrome dev tools</li>
            <li>INsepect the network tab</li>
            <li>Examine thsi request URl - make sure this is correct</li>
            <li>Reproduce the error in postman - if we the smae response in Postman, then the issue is
                 <strong>NOT</strong>   with Angular</li>
        </ul>
        <p>Follwing is the strack track - this is where your investigation should start !!</p>
        <code class="mt-5" style="background-color: whitesmoke;"> {{error.details}}</code>

    </ng-container>
  
</div>